<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/navbar.html :: header( title = 'Pedidos')"></head>
</head>
<body>

<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Pedidos')"></nav>
    <h2>Lista de Pedidos</h2>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Codigo Producto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto, info : ${listaProductos}">
            <td th:text="${info.index + 1}"></td>
            <td th:text="${producto.codigo}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.stock}"></td>
            <td><a class="btn btn-warning" th:href="@{'/verMas' + '?id=' + ${producto.idproductos}}">Ver Mas</a>
            </td>
            <td><a class="btn btn-primary" th:href="@{'/FormCarrito' + '?id=' + ${producto.idproductos}}">Agregar al carrito</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>