<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/navbar.html :: header( title = 'Productos')"></head>
</head>
<body>
<div class="container">
    <nav th:replace="fragments/navbar.html :: navbar( active = 'Productos')"></nav>
    <h2>Detalles del Producto</h2>
    <br>
    <div class="form-group">
        <h4 class="text-primary">Nombre del Producto: </h4>
        <h4 th:text="${productos.nombre}"></h4>
    </div>
    <div class="form-group">
        <h4 class="text-primary">Codigo del Producto: </h4>
        <h4 th:text="${productos.codigo}"></h4>
    </div>
    <div class="form-group">
        <h4 class="text-primary">Precio del Producto: S/. </h4>
        <h4 th:text="${productos.precio}"></h4>
    </div>
    <div class="form-group">
        <h4 class="text-primary">Stock: </h4>
        <h4 th:text="${productos.stock}"></h4>
    </div>
    <div class="form-group">
        <h4 class="text-primary">Descripcion del Producto: </h4>
        <h4 th:text="${productos.descripcion}"></h4>
    </div>
    <a th:href="@{'/'}" class="btn btn-danger">Regresar</a>
    <a class="btn btn-primary" th:href="@{'/FormCarrito' + '?id=' + ${productos.idproductos}}">Agregar al carrito</a>
</div>
</body>
</html>